@import "custom";
.contact-page {
  h1 {
    @include responsive-header;
  }

  .accordion {
    max-width: 900px;
    .accordion-button {
      font-size: 1.2rem;
    }
    .accordion-body {
      background-color: darken($accent-light, 4%);
      padding-left: 5rem;
      color: darken($text-light, 20%);
    }
  }
  .contact-form {
    max-width: 1000px;
    margin: 0 auto;
    .contact-box {
      box-shadow: 0px 4px 8px lighten($text-light, 18%);
    }
    .btn-teal {
      background-color: $secondary-color;
      &:hover {
        background-color: $accent-blue;
      }
    }

    .form-control {
      border: 1px solid darken($background-dark, 15%);
      border-radius: 5px;
      padding: 8px;
      font-size: 1rem;

      &:focus {
        border-color: #056674;
        box-shadow: 0px 0px 5px rgba(5, 102, 116, 0.5);
      }
    }
  }
}
